
html, body {
	font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
}
h1 {
	font-family: 'Helvetica';
}
article h2 {
	color: #444444;
}
.mainDetails{
	margin: 20px;
}
.clearPrincipal {
	clear: both;
}
.clearPrincipal__hr {
	border: 2px solid #cf8a05;
	width: 95%;
}
.clear {
	clear:both;
}
.clear__hr {
	border: 1px solid #dedede;
	width: 75%;

}

.subDetails{
	color: #696464;
	font-style: italic;
	font-size: 12px;
}
#mainArea{
	margin-left: 8%;
}
#headshot {
	width: 12.5%;
	float: left;
	margin-right: 50px;
}
#headshot img {
	border-radius: 90px;
	margin: 75px;
}

#name {
	float: left;
	margin-left: 67px;
	margin-top: 50px;

}
#name h2 {
	color: #444444;
}
#contactDetails {
	float: right;
	margin: 55px 135px 0px 0px;
}
#contactDetails li {
	list-style: none;
}
a[href="mailto:joe@bloggs.com"], a[href= "http://www.bloggs.com"]{
	text-decoration: none;
	color:#181818;
}
.sectionTitle {
	float: left;
	width: 25%;
	color: #cf8a05;
	font-style: italic;
}
.sectionTitle h1{
	font-size: 20px;
	font-weight: lighter;
	font-family: Arial, Helvetica, sans-serif;
}
.sectionContent {
	float: right;
	width: 72.5%;
}
.keySkills li {
	list-style: none;
}

.keySkills {
	column-count: 3;
	column-gap: 40px;
}
